<h2 class="head">Welcome to Simple Calculator</h2>
<body>
  <div class="parent">
    <div class="child">
      <h2>ARITHEMETIC OPERATIONS</h2>
      <mat-icon>calculate</mat-icon>
      <h4>Enter two numbers in the fields below</h4>
      <div class="input">
        <mat-form-field floatLabel="never" appearance="outline">
          <mat-label>Number 1</mat-label>
          <input matInput required [(ngModel)]="num1" type="number" name="n1" id="v1"><br>
        </mat-form-field>
      </div>
      <div class="input">
        <mat-form-field floatLabel="never" appearance="outline">
          <mat-label>Number 2</mat-label>
          <input matInput required [(ngModel)]="num2" type="number" name="n2"><br>
        </mat-form-field>
      </div><br><br>
      <button mat-raised-button mat-button (click)="openSnackBar('Addition Performed','Dismiss')" (click)="add();">ADDITION</button>
      <button mat-raised-button mat-button (click)="openSnackBar('Subtraction Performed','Dismiss')" (click)="sub()">SUBTRACT</button>
      <button mat-raised-button mat-button (click)="openSnackBar('Multiplication Performed','Dismiss')" (click)="mul()">MULTIPLY</button>
      <button mat-raised-button mat-button (click)="openSnackBar('Division Performed','Dismiss')" (click)="div()">DIVIDE</button><br><br>
      <h3>RESULT: {{ans}}</h3>
      <h2>FACTORIAL AND PRIME CHECKER</h2>
      <h4>Enter a number in the field below</h4>
      <mat-form-field floatLabel="never" appearance="outline">
        <input matInput required [(ngModel)]="num" type="number" name="n"><br><br>
      </mat-form-field>
      <br>
      <button mat-raised-button mat-button (click)="openSnackBar('Factorial Calculated','Dismiss')" (click)="fact(num)">FACTORIAL</button>
      <h3>FACTORIAL OF {{num}} IS: {{sum}}</h3>
      <button mat-raised-button mat-button (click)="openSnackBar('Prime checking performed','Dismiss')" (click)="prime(num)">PRIME CHECKER</button>
      <h3>THE NUMBER {{num}} IS {{str}}</h3>
    </div>
  </div>
</body>
